/*applies to entire page*/

* {
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

/*HEADER SECTION*/

/*black top bar*/

header {
  background-color: #000;
  color: #fff;
  padding: 0 50px;
}

/*using flexbox for name and nav links to display left & right*/

header .wrapper {
  display: flex;
  max-width: 940px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/* the 'a' targets the links to style*/

nav a {
  color: #fff;
  text-decoration: none; /*removes underline of link*/
  font-size: .8rem;
}

/*algining navigation*/

nav ul {
  display: flex;
  list-style: none;
  gap: 20px; 
}

/*HERO IMAGE WITH TITLE SECTION*/

#hero {
  height: 600px;
  background-image: url(../images/hands-typing.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%); /*to make image dull/greys*/
  padding-top: 225px;
}


h1 {
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.5); /*adding black background box under text*/
  color:#fff;
  text-shadow: 2px 2px #000;
  padding: 30px;

  /*to center title contents*/
  display: flex;
  margin: 0 auto;
  text-align: center;
}

/*ABOUT ME SECTION*/

/*centering content*/
#about-me {
  display: flex;
  justify-content: center;
}

#about-me .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /*using grid to create 2 column layout*/
  max-width: 940px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}


.wrapper img {
  width: 80%;
  align-self: end;
}


/*SERVICES SECTION*/

/*creating a 3 column grid*/
#services .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: left;
  padding: 20px 20px;
}

/*targeting services grey section with title: What I can do for you*/
#services {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  padding: 30px 20px; 

}
/*white boxes behind each section*/
#services .wrapper article {
  background-color: #fff;
  padding: 0 20px;

/*flexbox applied to change direction of column*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*Buttons*/

/*static button customizations*/
#services a:link,
#services a:visited {
  display: inline-block;
  padding: .8em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: auto;
}

/*hover button customizations*/
#services a:hover,
#services a:focus {
  background-color: #fff;
  color: #000;
}


/*MY WORK SECTION*/

/*centering title and body text*/
#work .wrapper {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

/*using grid and setting up the columns and rows, 6 x 6*/
.grid {
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding-bottom: 40px;


  /*using grid areas method to define image layout*/
  grid-template-areas:
  "div1 div1 div1 div2 div2 div2"
  "div1 div1 div1 div2 div2 div2"
  "div1 div1 div1 div2 div2 div2"
  "div3 div3 div4 div4 div5 div5"
  "div3 div3 div4 div4 div5 div5"
  "div3 div3 div4 div4 div5 div5"
  ;
}

/*calling each photo based on grid template area that was set up above*/
.first-photo {
  grid-area: div1;
}

.second-photo {
  grid-area: div2;
}

.third-photo {
  grid-area: div3;
}

.fourth-photo {
  grid-area: div4;
}

.fifth-photo {
  grid-area: div5;
}

/*to remove horizontal space between photos*/
.grid img {
  width: 100%;
  height: 100%;
}



/*FOOTER SECTION*/

/*black bar on bottom*/
footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: #fff
}



