* {
  box-sizing: border-box;  
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

header {
  background-color: #000;
  color: #fff;
}

header .wrapper {
  display: flex;
  max-width: 940px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}


nav a {
  color: #fff;
  text-decoration: none;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 20px; 
}

/*Hero image with title section*/

#hero {
  height: 600px;
  background-image: url(/images/hands-typing.jpg);
  background-position: center center;
  background-size: cover;
  filter: grayscale(70%);
  padding-top: 225px;
}


h1 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color:#fff;
  padding: 30px;
  margin: 0 auto;
  max-width: 60%;
  text-shadow: 2px 2px #000;
  text-align: center;
}

/*About Me Section*/

#about-me {
  display: flex;
  justify-content: center;
}

#about-me .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 940px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}


.wrapper img {
  width: 100%;
  align-self: end;
}


/*Services Section*/

#services .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: left;
  padding: 20px 20px;
}

#services {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  padding: 30px 20px; 

}

#services .wrapper article {
  background-color: #fff;
  padding: 0 20px;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*Buttons*/

#services a:link,
#services a:visited {
  display: inline-block;
  padding: .8em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: auto;
}

#services a:hover,
#services a:focus {
  background-color: #fff;
  color: #000;
}


/*My Work Section*/

#work .wrapper {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}



.grid {
  display: grid;
  max-width: 940px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  gap: 0;
  padding: 0px 0px;
 

  
 

  



  grid-template-areas:
  "div1 div1 div1 div2 div2 div2"
  "div1 div1 div1 div2 div2 div2"
  "div1 div1 div1 div2 div2 div2"
  "div3 div3 div4 div4 div5 div5"
  "div3 div3 div4 div4 div5 div5"
  "div3 div3 div4 div4 div5 div5"
  ;


}

.first-photo {
  grid-area: div1;
 
  
}

.second-photo {
  grid-area: div2;
  
 
  
}

.third-photo {
  grid-area: div3;
 
  

  
}

.fourth-photo {
  grid-area: div4;
  
  


}

.fifth-photo {
  grid-area: div5;
  
 
  
}









footer {
  background-color: #000;
  color: #fff
}

footer .footer {
  text-align: center;
}

